@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@layer base {
  html {
    font-family: 'Montserrat';
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.ant-btn-primary {
  background: #c8235d;
  border-color: #c8235d;
}

.ant-tabs-ink-bar {
  height: 5px;
  background: #c8235d !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #c8235d !important;
  font-weight: 500;
}
